.filter-container {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
}
input:focus {
    border: none;
}
input:valid {
    border: none;
}
